<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title> IoT solution </title>
</head>

<body>

    <header>
        <nav class="navbar">
            <h1 class="titulo">Monitorização e Controlo de Água</h1>
            <ul>
                <li><a class="a_li" href="#inicio">Início</a></li>
                <li><a class="a_li" href="#descricao">Descrição</a></li>
                <li><a class="a_li" href="#nos">Sobre Nós</a></li>
                <li><a class="a_login" href="/sign-in">Sing In</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="hero" id="inicio">
            <h2>Monitorize e controle a qualidade da Água com a nossa solução</h2>
            <p>Com a nossa solução IoT, você pode monitorizar a qualidade da água em tempo real bem como monitorizar o
                seu consumo.</p>
        </section>


        <section class="features" id="descricao">
            <h3> Breve descrição da solução:</h3>
            <p>
                A água é um recurso vital e sua gestão sustentável é fundamental para garantir a resiliência dos ecossistemas, 
                a segurança alimentar e a qualidade de vida das comunidades em todo o mundo. 
                É essencial promover a gestão sustentável da água e investir em tecnologias que permitam a monitorização e o 
                controle do consumo e da qualidade da água.
                <br/>    

                A adoção de soluções baseadas em IoT pode permitir uma gestão mais eficiente e inteligente dos recursos hídricos, 
                reduzindo o desperdício e garantindo o acesso à água potável para todos.
                <br/>

                Este projeto tem como principal propósito desenvolver uma solução de Internet das Coisas (IoT) que permita 
                monitorizar o fluxo de distribuição de água em um condomínio, bem como garantir a sua qualidade. 
                <br/>

                Esta plataforma web permite ao gestor do condomínio visualizar os dados referentes a:
            </p>
            <ul>
                <li> - qualidade da água </li>
                <li> - fluxo de água </li>
                <li> - alertas de qualidade </li>
                <li> - relatórios personalizados do consumo </li>
            </ul>
        </section>



        <section class="about" id="nos">
            <h3> Sobre Nós </h3>
            <p> Esta solução foi desenvolvida por: </p>
            <ul>
                <li>
                    <p> Leonardo Campos </p>
                </li>
                <li>
                    <p> Luísa Gonçalves</p>
                </li>
                <li>
                    <p> Pedro Neves</p>
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Monitorização e Controlo de Água - Solução IoT</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>

</html>